.no-items > p{
  display:block !important;
}

.a-hidden{
  opacity:0;
  z-index:-10;
  position:absolute;
  left:-1000;
}

.wc-product-list+.select2-container{
  width:100% !important;
}

.product-list.no-items table.product-list-table{
  display:none;
}
.product-list table.product-list-table td{
  font-size:12px;
}
.product-list table.product-list-table td:last-child a{
  color:red;
  font-size:10px;
  font-weight:bold;
}
.product-list table.product-list-table td:last-child a:hover{
  text-decoration:none;
}


/* SPINNER */
.circle-loader-outer {
  padding: 5em;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(255,255,255,0.9);
  display:none;
}
.order-form.loading .circle-loader-outer{
  display:unset;
}

.circle-loader {
  /* margin-bottom: 3.5em; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 7em;
  height: 7em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -3.5em;
  margin-top: -3.5em;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
}
.load-failed {
  -webkit-animation: none;
  animation: none;
  border-color: red;
  transition: border 500ms ease-out;

}
.load-failed:before,
.load-failed:after{
  content:'';
  width:8px;
  height:80%;
  border-radius:100px;
  display:inline-block;
  z-index:1000;
  background:red; 
  top:50%;
  position:absolute;
  left:50%;
}
.load-failed:before{
  transform: rotateZ(45deg) translate(-50%,-50%);
  transform-origin: left top;
  /*transform:rotateZ(45deg) translateY(50%);*/
}
.load-failed:after{
  transform: rotateZ(-45deg) translate(-50%,-50%);
  transform-origin: left top;
}

.checkmark {
  display: none;
}
.load-complete .checkmark{
    display:unset;
}
.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
  opacity: 1;
  height: 3.5em;
  width: 1.75em;
  transform-origin: left top;
  border-right: 3px solid #5cb85c;
  border-top: 3px solid #5cb85c;
  content: '';
  left: 1.75em;
  top: 3.5em;
  position: absolute;
}
.order-form-text{
  margin:0;
  top: 50%;
  position: fixed;

  left: 50%;
  margin-top: 75px;
  max-width:650px;
  transform:translateX(-50%);
  border-radius:15px;
  
  font-size: 24px;

  background:#464343;
  color:white;
  text-transform:uppercase;

}
.load-failed+.order-form-text{
  padding:15px 50px;
}
.load-complete+.order-form-text{
  background:#5cb95c;
  padding:15px 50px;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.75em;
    opacity: 1;
  }
  40% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
  100% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
}


/* Add New Card */
form#add-new-card .form-row {
  background: white;
  padding: 15px 10px 10px;
  border: 1px solid #dfe0e1;
  margin-left:0;
  margin-right:0;
}

form#add-new-card label.reusable {
  margin-top:15px;
  font-size:14px;
  position:relative;
  padding-left:20px;
  line-height:18px;
  color:#545454;
}
form#add-new-card label.reusable input{
  position:absolute;
  top: 2px;
  left:0;
  display: inline-block;
  font-size: 24px;
}


/* summary wrapper */
.summary-wrap{
  border: 2px dashed #888888;
  padding: 15px;
  margin-bottom: 0;
  background:white;
}
.summary-wrap > h4{
  text-align: center;
  width: 100%;
  border-bottom: 2px dashed #888;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin: 0 auto 25px;
}

/* stripe add card error */
form#add-new-card #card-errors{
  font-size:12px;
  margin-top:5px;
  background:#ff6a6a;
  color:white;
  width:100%;
  padding:0 10px;
  text-align:center;
  border-radius:5px;
}
