<div class="addCard">
    <form action="/charge" method="post" id="add-new-card">
        <div class="form-row">
            <div id="card-element-2" style="width:100% !important;">
            <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display Element errors. -->
            <div id="card-errors" role="alert"></div>
        </div>
        <label class="reusable" for="reusable"><input id="reusable" type="checkbox" value="reusable"> Save payment information to my account for future purchases.</label>
        <!-- <button class="stripe-addNew"></button> -->
    </form>
    <hr>
</div>