<div class="billing form-update">
    <div class="">
        <label class="billing__title d-block">Billing <a href="#" class="ml-2 form-update__view" data-aaction="formUpdate"><small>Edit</small></a></label>
        <p class="form-update__view">
            {{data.first_name}} {{data.last_name}}<br>
            {{data.address_1}}<br>
            {{data.address_2 }}<br>
            {{data.city}} {{data.country}} {{data.state}} {{data.postcode}}
        </p>
    </div>
    <div class="card bg-light rounded-0 border-0 form-update__edit" style="display:none;">
        <div class="card-body">
            <div class="form-group">
                <input class="form-control" placeholder="Billing first name" name="billing_first_name" value="{{data.first_name}}">   
            </div>  
            <div class="form-group">
                <input class="form-control" placeholder="Billing last name" name="billing_last_name" value="{{data.last_name}}">   
            </div>  
            <div class="form-group">
                <input class="form-control" placeholder="Address Line 1" name="billing_address_1" value="{{data.address_1}}">   
            </div>  
            <div class="form-group">
                <input class="form-control" placeholder="Address Line 2" name="billing_address_2" value="{{data.address_2}}">   
            </div> 
            <div class="form-group">
                <input class="form-control" placeholder="City" name="billing_city" value="{{data.city}}">   
            </div>  
            <div class="form-group">
                <select class="form-control" name="billing_country">
                    {{#select config data.country}}{{/select}}
                </select>
            </div>    
            <div class="form-group">
                    {{#ifEquals data.country "US"}}
                        <select class="form-control" name="billing_state">
                            {{#select config.US.states data.state}}{{/select}}
                        </select>
                    {{/ifEquals}}

                    {{#ifEquals data.country "PR"}}
                        <input class="form-control" placeholder="State" name="billing_state" value="{{data.state}}">
                    {{/ifEquals}}
            </div>  
            <div class="form-group">
                <input class="form-control" placeholder="Postcode" name="billing_postcode" value="{{data.postcode}}">   
            </div>     
            <div class="form-group">
                <button class="form-control btn btn-dark btn-block" data-aaction="updateBilling">Done</button>
            </div>
        </div>    
    </div>
</div>